[Desktop Entry]
Name=diboua
Comment=Explore pontos turísticos com diboua
Exec=run.sh
Type=Application
Icon=com.brazilparadise.jokeGenerator
Categories=Utility;
