[Desktop Entry]
Name=diboua
Comment=Generate random jokes about diboua
Exec=run.sh
Type=Application
Icon=com.diboua.jokeGenerator
Categories=Utility;
